build-essential
libsqlite3-dev 
libsqlite3-0
libssl-dev
libssl1.0.0 
openssl
gcc 
libsqlite3-dev
libxml2-dev
libxslt1.1 
make 
libx11-dev 
libxtst-dev 
pkg-config
libcurl4-openssl-dev 
libxslt1-dev 
libxml2-dev
sqlite3
libpq-dev
libmysqlclient-dev
libleptonica-dev libtesseract-dev
tesseract-ocr tesseract-ocr-eng tesseract-ocr-nld imagemagick
openjdk-7-jre openjdk-7-jdk
libinotify-ruby libgtk2-ruby libnotify-dev
