
<% content_for :title, "Home" %>

<div align="center">
<h1>ALEX</h1>
<h4>Ask.Learn.EXplore</h4>
<br>
</div>
<% if current_user %>
  <% @post = Post.new %>

  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <%=render :partial => 'posts/new.html.erb'%>
    </div>
    <div class="col-sm-9 col-xs-12">
      <div id="postsfeed">
	      <%= render :partial => 'posts.html.erb', :locals => { :posts_streams => @posts_streams } %>
      </div>
    </div>
   </div>
   

</br>
<% else %>
We welcome you to our site. You can post and upload files (max 10MB). Though the caption may not appear for posts it must be filled with some text(this is a bug). Our site enables you to interact by sending private messages, comments on posts and even have your own profile picture.Do try uploading images that contain text to check out our AUTO TAGGING system.For those who are too lazy to fill the signup form may use the social logins viz. facebook, twitter and linkedin. Thank you
<% end %>
 <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script>

 function getVideoID(){
        var videoIframe =  $('iframe');
        var videoURL = videoIframe.attr('src');
        var id = videoURL.split("/")[4].split("?")[0];
        videoIframe.after('<div id="player"></div>');
        videoIframe.remove();
        return (id);
    }

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
       var videoID = getVideoID();
       player = new YT.Player('player', {
       videoId: videoID,
       events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
           }
        });

          function onPlayerReady(event) {
              //event.target.playVideo();
          }

          function onPlayerStateChange(event) {
           var state = event.target.getPlayerState();
            if (state === 2) {
                //alert("Paused");
            }
             if (state === 0) {
                //alert("Ended");
		enable();
             }
	     else if (state ===1){
	     	//alert("playing");
		disable();
	     }
            }
          }

var rf;

var refreshtime = 15000;
clearInterval(rf);
var timelyrefreshPostFeeds;
var timelyrefreshMessageBadge; 
document.getElementsByName("comment-btn").className = "btn-primary disabled";
function disable(){
	clearInterval(rf);
}

$(document).ready(function(){
		timelyrefreshPostFeeds = function(){
		url = '/refresh'
		$.get(url,{width: $(window).width() }).done(function(data,status){
			$('#postsfeed').html(data)
			clearInterval(rf);
			//alert($(window.width));
			rf = setInterval(timelyrefreshPostFeeds,refreshtime);
			refreshtime = refreshtime*1.5;	
			return false;	
			})
		};
		timelyrefreshMessageBadge = function(){url = '/message'
		$.get(url,function(data,status){
			$('.unreadmessages').html(data)
			//alert(data);
			return false
			});
		};
		
		<% if current_user %>
		rf = setInterval(timelyrefreshPostFeeds,refreshtime);
		<% end %>

		$(".votes").click(function()
			{
			var id = $(this).attr("id");
			var name = $(this).attr("name");
			var parent = $(this)
			//parent.parent().parent().children().children().fadeOut(500);
			//parent.fadeIn("fast");
			var temp=parent.parent().parent().html();
			var p=parent.parent().parent();
			if (name=='up')
			{
			
			$.get('/votedup', {id: id},
				function(data,status){
				//alert(data);
				data=data.split("<<<<<<<<");
				parent.toggle( "bounce", { times: 3 }, "slow" );
				setTimeout(function () { parent.parent().parent().children().children().html(data[1]);parent.html(data[0]); }, 700);
				parent.parent().parent().children().children().fadeIn("slow");
				});
			}
			else
			{
			$.get('/voteddown', {id: id},
				function(data,status){
				data=data.split("<<<<<<<<");
				parent.toggle( "bounce", { times: 3 }, "slow" );
				setTimeout(function () { parent.parent().parent().children().children().html(data[0]);parent.html(data[1]); }, 700);
				parent.parent().parent().children().children().fadeIn("slow");
				});
			}
		return false;
			});

});
setInterval(timelyrefreshMessageBadge,refreshtime);

function enable(){
		rf = setInterval(timelyrefreshPostFeeds,refreshtime);
		}


</script>



