
<% content_for :title, "Home" %>

<h1>Home</h1>
<% if current_user %>
  <% @post = Post.new %>

  <div class="row">
    <div class="span3">
      <%=render :partial => 'posts/new.html.erb'%>
    </div>
    <div class="span9">
      <div id="postsfeed">
      <%= render :partial => 'posts.html.erb', :locals => { :posts_streams => @posts_streams } %>
      </div>
    </div>
   </div>

</br>
<% end %>
<script>

var rf;

var refreshtime = 150000;
clearInterval(rf);
var timelyrefreshPostFeeds; 
document.getElementsByName("comment-btn").className = "btn-primary disabled";
function disable(){
	clearInterval(rf);
}

$(document).ready(function(){
		timelyrefreshPostFeeds = function(){
		url = '/refresh'
		$.get(url,function(data,status){
			$('#postsfeed').html(data)
			return false
			});
		};
		
		<% if current_user %>
		rf = setInterval(timelyrefreshPostFeeds,refreshtime);
		<% end %>

		$(".votes").click(function()
			{
			var id = $(this).attr("id");
			var name = $(this).attr("name");
			var parent = $(this)
			if (name=='up')
			{


			$.get('/votedup', {id: id},
				function(data,status){
				data=data.split("<<<<<<<<");
				parent.parent().parent().children().children().html(data[1]);
				parent.html(data[0]);
				});
			}
			else
			{
			$.get('/voteddown', {id: id},
				function(data,status){
				data=data.split("<<<<<<<<");
				parent.parent().parent().children().children().html(data[0]);
				parent.html(data[1]);
				});
			}
		return false;
			});

});

function enable(){
		rf = setInterval(timelyrefreshPostFeeds,refreshtime);
		}


</script>




