.postbody
{
min-height:100px;
margin-bottom:10px;
margin-right:50px;
border-bottom:solid 1px #3b5998 ;
float:right;
width:750px;
transition : all 0.7s;
}
.postbody:hover
{
padding:5px;
}
.postimg
{
float:left;
height:50px;
width:50px;
border:solid 1px #d4dae8  ;
padding:5px;
}
.votebox
{
float:right;
height:50px;
width:130px;
}
.up
{
height:30px;
background-image:url(posts_like.png);
background-repeat:no-repeat;
margin-bottom:5px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

.down
{
height:30px;
background-image:url(posts_dislike.png);
background-repeat:no-repeat;
margin-top:5px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

.posttext 
{
background:white;
border-radius:10px;
opacity:0.7;
border:1px solid black;
margin-left:70px;
min-height:50px;
word-wrap:break-word;
overflow:hidden;
padding:5px;
display:block;
font-family:'Georgia', Times New Roman, Times, serif;
transition : all 0.7s;
}

.empty{
margin-left:70px;
padding:5px;
text-align:center;
color:#999999;
}

.postbody small{
width:200px;
float:left;
}
.posttime
{
padding-right:5px;
display:inline-block;
float:right;
font-size:11px;
color:#999;
font-family:Arial, Helvetica, sans-serif;
margin-top:0px;
}
.fields{
border:2px solid #AAAAAA;
border-radius:10px;
float:left;
display:inline;
padding:10px;
width:auto;
transition : all 0.7s;
}
.fields:hover{
border:2px solid #AA6666;
padding:15px;
}
.comments{
width:650px;
float:right;

}
.comment{
opacity:0.5;
margin:2px;
transition: all 0.5s;
}
.comment small{
color:#ff4444;
}
.comment:hover{
opacity:1;
}

.radio{
display:inline-block;
overflow: hidden;
white-space: nowrap;
}

.newcomment{
width:650px;
float:right;
}
body{
opacity:0.98;
background-image:url('back.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
filter:blur(4px);
}
